/*
 * CSCI2720/ESTR2106 Course Project
 * A Social Map of Events
 *
 * We declare that the assignment here submitted is original
 * except for source material explicitly acknowledged,
 * and that the same or closely related material has not been
 * previously submitted for another course.
 * We also acknowledge that we are aware of University policy and
 * regulations on honesty in academic work, and of the disciplinary
 * guidelines and procedures applicable to breaches of such
 * policy and regulations, as contained in the website.
 *
 * University Guideline on Academic Honesty:
 *   http://www.cuhk.edu.hk/policy/academichonesty
 * Faculty of Engineering Guidelines to Academic Honesty:
 *   https://www.erg.cuhk.edu.hk/erg/AcademicHonesty
 *
 * Student Name: Lam Ching Hui, Xu Yu On, Tang Suet Yi, Lo Ka Wai, Chan Man Ho, Lee Yan Hin
 * Student ID  : 1155176763, 1155157363, 1155177062, 1155157996, 1155144075, 1155144079,
 * Date        : 17/12/2022
 */
#login_page {
  background-color: rgb(244, 244, 244);
  background-image: url("login.jpg");
}

#login_content {
  -webkit-animation: fadeIn 500ms linear; /* Safari */
  animation: fadeIn 500ms linear;
  
  height: 600px;
  width: 450px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -300px;
  margin-left: -225px;
}

@-webkit-keyframes fadeIn {
  from { opacity: 0; }
    to { opacity: 1; }
}
@keyframes fadeIn {
  from { opacity: 0; }
    to { opacity: 1; }
}

.login_switcher {
  color: #555 !important;
  opacity: .4 !important;
}

.login_switcher:hover {
  color: #007bff !important;
  opacity: 100% !important;
  cursor: pointer;
}

.navbar {
  width: 200px !important;
}

.nav-link:hover {
  color: white !important;
}

.nav-link:focus {
  color: white !important;
}

.nav-link:active {
  color: white !important;
}

#navbar-normal {
  display: block;
}

#navbar-full {
  display: none;
}

#navbar-button {
  display: none;
}

@media screen and (max-width:
700px) {
  #navbar-normal {
    display: none;
  }

  #navbar-button {
    display: block;
  }
}

/*CSS for index.html*/
#myInput {
  background-position: 10px 12px; /* Position the search icon */
  background-repeat: no-repeat; /* Do not repeat the icon image */
  width: 100%; /* Full-width */
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 12px; /* Add some space below the input */
}

#myTable {
  border-collapse: collapse; /* Collapse borders */
  width: 100%; /* Full-width */
  border: 1px solid #ddd; /* Add a grey border */
  font-size: 18px; /* Increase font-size */
}

#myTable th, #myTable td {
  text-align: left; /* Left-align text */
  padding: 12px; /* Add padding */
}

#myTable tr {
  /* Add a bottom border to all table rows */
  border-bottom: 1px solid #ddd;
}

#myTable tr.header, #myTable tr:hover {
  /* Add a grey background color to the table header and on hover */
  background-color: #f1f1f1;
}

/* for star */
.click-star:hover {
  cursor: pointer;
}

/* css for map */
.map-container {
  height: 400px;
}

.map-sidebar {
  background-color: rgba(35, 55, 75, 0.9);
  color: #fff;
  padding: 6px 12px;
  font-family: monospace;
  z-index: 1;
  margin: 12px;
  border-radius: 4px;
  display: inline-block;
}
